<section class="xl:w-full sm:pb-20 xl:h-full">
    <div class="justify-left  w-full h-full">
        <div class="lg:flex justify-between">
            <div class="lg:w-per55 sm:w-full">
                <div class="text-left">
                    <h1 class="text-7xl font-bold text-black-20">Be an early bird</h1>
                    <p class="text-black-bfaaint text-lg mt-3 font-medium mb-3 mr-5">
                        It would take months before official project launch, so you should buy only if you can wait for the launch to trade your coins.
                    </p>
                    <div class="mt-5 sm:hidden">
                        <div *ngFor="let item of list; let i = index">
                            <div class="flex">
                                <div class="dot">
                                    <div class="circle {{item?.active && 'active'}}">&nbsp;</div>
                                    <div class="line m-auto text-center w-px" *ngIf="i !== list.length-1">&nbsp;</div>
                                </div>
                                <div class="text-black-20 font-bold pl-8">
                                    {{item?.name}} <span class="text-xs text-secondary ml-4" *ngIf="item?.active">In Progress</span>
                                </div>
                            </div>  
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="lg:w-per45 sm:w-full">
                <div>
                    <button class="mb-2 py-4 px-7 h-fit w-fit font-bold bg-white-faint rounded-lg">
                        <span class="text-sm text-primary-30">Your bal: 0000000034 USD</span>
                    </button>
                    <div class="bg-white-20 py-5 px-4 rounded-lg">
                        <div class="flex justify-between mb-5">
                            <h2 class="text-base font-bold text-black-30">10:20:30</h2>
                            <button class="py-2 px-4 h-fit w-fit font-bold bg-warning rounded-xl">
                                <span class="text-sm text-deepBlue-10">Pending</span>
                            </button>
                        </div>
                        <div class="mt-10">
                            <div class="text-sm text-black-bfaaint font-medium">Sales Progress</div>
                            <div class="w-full bg-primary-faint rounded-lg mt-4 progress">
                                <div class="w-per40 h-full bg-primary-30 rounded-lg"></div>
                            </div>
                        </div>
                        <div class="mt-10">
                            <div class="text-lg text-black-30 font-bold">Enter Amount To Buy</div>
                            <div class="flex justify-between mt-2">
                                <div class="w-per65">
                                    <div class="border-solid border border-primary-20 rounded-lg h-14 px-4
                                        justify-between flex py-3">
                                        <input class="w-per60 border-none bg-transparent" placeholder="0.00 USDT">
                                        <hr class="bg-black-faint h-full mr-2 ml-2">
                                        <input class="w-per35 border-none bg-transparent" placeholder="00.00 EXX">
                                    </div>
                                </div>
                                <div class="w-per30">
                                    <button class="py-2 px-4 h-14 w-full font-bold bg-primary-30 rounded-xl">
                                        <span class="text-sm text-white-20">Buy</span>
                                    </button>
                                </div>
                            </div>
                            <div class="font-black-faint text-sm mt-2 font-normal">
                                Min. Buy: <span class="font-medium">30 USDT</span> &nbsp; &nbsp;
                                Max. Buy: <span class="font-medium">10,000 USDT</span>
                            </div>
                        </div>
                        <div class="mt-10">
                            <div class="font-bold mb-2">Disclaimer</div>
                            <p class="font-normal">
                                The information provided shall not in any way constitute a recommendation as to whether you should invest in any product discussed. 
                                <span class="font-bold">We accept no liability for any loss</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>